.strikeout{
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.textbox {
    background-color: #fafafa;
    text-align: center;
    position: absolute;
    width: 80%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em;
    outline: 1px $lightBlue solid;
    outline-offset: -0.5em;

    a {
        color: $lightBlue;
        margin: 10px;
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        color: $textColour;
        padding-top: 10px;
        margin: 0;
    }
}

.favourites {
    padding: 2.5em;
    h2 {
        font-size: 1.2em;
    }
    p {
        font-style: italic;
        color: $textColour;
    }
}