$textColour:rgba(0, 0, 0, 0.5);
$offWhite:#fafafa;
$lightBlue:#9ab4b3;

body {
    background-color: $offWhite;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: $textColour;
}

ul {
    display: inline-flex;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: #010101
}

.no-margin {
    margin: 0;
}

h3 {
    padding: 15px;
}

@import './_header';

@import './_images';

@import './_text';

@import './footer';